.pagination /deep/ .ngx-pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}
.page-item /deep/ .ngx-pagination li {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.page-item-current /deep/ .ngx-pagination .current {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.icon{
    width: 22px;
}
table td {
    vertical-align: middle;
}

