<div class="card shadow-sm">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h1>
                Lista de Produtos
            </h1>
        </div>
        <table class="table table-striped">
            <thead>
                <th scope="col">ID Produto</th>
                <th scope="col">Nome do Produto</th>
                <th scope="col">ID Fornecedor</th>
                <th scope="col">Categoria</th>
                <th scope="col">Qtd. por unid.</th>
                <th scope="col">Preço por unid.</th>
                <th scope="col">Qtd. em estoque</th>
            </thead>
            <tbody>
                <tr >
                    <td>11</td>
                    <td [routerLink]="['/product', 1]" class="pointer">Queso Cabrales</td>
                    <td>5</td>
                    <td>4</td>
                    <td>1 kg pkg.</td>
                    <td>21,0000</td>
                    <td>22</td>
                </tr>
                <tr >
                    <td>11</td>
                    <td [routerLink]="['/product', 1]" class="pointer">Queso Cabrales</td>
                    <td>5</td>
                    <td>4</td>
                    <td>1 kg pkg.</td>
                    <td>21,0000</td>
                    <td>22</td>
                </tr>
                <tr >
                    <td>11</td>
                    <td [routerLink]="['/product', 1]" class="pointer">Queso Cabrales</td>
                    <td>5</td>
                    <td>4</td>
                    <td>1 kg pkg.</td>
                    <td>21,0000</td>
                    <td>22</td>
                </tr>
                <tr >
                    <td>11</td>
                    <td [routerLink]="['/product', 1]" class="pointer">Queso Cabrales</td>
                    <td>5</td>
                    <td>4</td>
                    <td>1 kg pkg.</td>
                    <td>21,0000</td>
                    <td>22</td>
                </tr>
                <tr >
                    <td>11</td>
                    <td [routerLink]="['/product', 1]" class="pointer">Queso Cabrales</td>
                    <td>5</td>
                    <td>4</td>
                    <td>1 kg pkg.</td>
                    <td>21,0000</td>
                    <td>22</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>