<div class="card shadow-sm">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h1>
                Lista de Compras
            </h1>
            <button class="btn btn-dark d-flex align-items-center" [routerLink]="['/order', FLAG]" >
                <img class="mr-2 text-white" src="../../../assets/icons/plus.svg" alt="icone mais">
                Adinionar
            </button>
        </div>
        <table class="table table-striped">
            <thead>
                <th scope="col">ID da compra</th>
                <th scope="col">ID do cliente</th>
                <th scope="col">Data da compra</th>
                <th scope="col">Valor do frete</th>
            </thead>
            <tbody>
                <tr *ngFor="let order of obsOrderList$ | async" >
                    <td [routerLink]="['/order', 'NCMA']" class="pointer">{{ order.OrderID }}</td>
                    <td>{{ order.CustomerID }}</td>
                    <td>{{order.OrderDate}}</td>
                    <td>{{ order.Freight }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>